.ranking-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.250);
    width: 55%;
    padding: 10px;
}

.ranking-post-title{
    text-align: center;
    margin-bottom: 20px;
    color: #FFF;
}

.category-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #FFF;
    padding: 5px;
    text-align: center;
    color: #FFF;
}

th {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

td {
    font-size: 18px;
}