.ranking-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.250);
    width: 55%;
    padding: 10px;
    max-height: 43vh; 
    overflow-y: auto;  
}

.ranking-post-title {
    
    text-align: center;
    margin-bottom: 20px;
    color: #FFF;
}

.category-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    
    border: 1px solid #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 60vh;
    text-align: center;
    color: #FFF;
}

th {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

td {
    font-size: 18px;
}

@media only screen and (min-width: 1480px) and (max-width: 1600px) {
    td {
    font-size: 16px;
    }
}

@media only screen and (min-width: 1320px) and (max-width: 1479px) {
    td {
    font-size: 14px;
    }
    th {
    font-size: 18px;
    }
}

@media only screen and (min-width: 1070px) and (max-width: 1319px) {
    td {
    font-size: 12px;
    }
    th {
    font-size: 12px;
    }
}

@media only screen and (max-width: 1069px) {
    td {
    font-size: 10px;
    }
    th {
    font-size: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .ranking-post-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 4px solid rgba(255, 255, 255, 0.1);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.250);
        width: 100%;
        padding: 0px;
        max-height: 40vh; 
        overflow-y: auto;  
    }

}