h3{
    font-size: 30px;
}

.notestyle-container{
margin: 10px;
}

.notestyle-title {
color: #FFF;
}

.notestyle-attribute {
display: flex ;
margin: 5px 0;
justify-content: space-between;
align-items: center;
}

.notestyle-attribute label {
width: 195px;
height: 34px;
color: #FFF;
font-size: 22px;
}

.notestyle-attribute input {
width: 47px;
padding: 5px;
color: #3F597B;
font-size: 20px;
border: 1px solid #ccc;
border-radius: 4px;
}