.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80%;
  margin-inline-start: 30px;
}

.user {
  margin-inline-end: 30px;
  height: 40px;
}

@media only screen and (max-width: 1024px) {
  .header {
    height: 80%;
  }

  .user {
    height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 60%;
  }

  .user {
    height: 25px; 
  }
}

@media only screen and (max-width: 480px) {
  .header {
    height: 50%;
    padding: 0 2%;
  }

  .user {
    height: 20px;
  }
}
