.App {
  background-color: #3F597B;
  min-height: 100vh;
  flex-direction: column;
  align-items: start;
}

main {
  width: 100%;
}

.container{
  max-height: 80%;
  margin-top: 30px;
  margin-left: 30px;
}
